.transparent-login{
    width: 450px;
    height: 400px;
    margin: 140px auto;
    padding: 50px;
    /* border: 1px solid grey; */
/* background-color: rgba(184, 176, 176, 0.1);     */
/* color: white; */
}

form input{
    color: black;
}